/* GpsLocation.css */
.gps-button {
  /* Match Streamlit styling */
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  font-weight: 400;
  padding: 4px 12px;
  border-radius: 10px;
  min-height: 40px;
  margin: 0px;
  line-height: 1.6;
  text-transform: none;
  background-color: rgba(255, 75, 75);
  color: white;
  border: 1px solid rgba(255, 75, 75);
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  user-select: none;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
}

.gps-button:hover {
  background-color: #ff2b2b;
}

.gps-button:active {
  background-color: transparent;
  color: rgba(255, 75, 75);
}

/* .gps-button:focus {
  border: 1px solid rgba(255, 75, 75);
} */

.gps-button:focus:not(:focus-visible) {
  /* Remove outline when using mouse (but keep it for keyboard focus) */
  outline: none;
}

/* Add a container class for proper button alignment */
.gps-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
